$theme-colors: (
	"primary": #325d88,
	"secondary": #8e8c84,
	"success": #93c54b,
	"info": #29abe0,
	"warning": #f47c3c,
	"danger": #d9534f,
	"black": #000000,
	"mat-red": #f44336,
	"mat-red-d4": #b71c1c,
	"mat-pink": #e91e63,
	"mat-pink-d4": #880e4f,
	"mat-pink-a4": #c51162,
	"mat-purple": #9c27b0,
	"mat-deep-purple": #673ab7,
	"mat-indigo": #3f51b5,
	"mat-blue": #2196f3,
	"mat-light-blue": #03a9f4,
	"mat-cyan": #00bcd4,
	"mat-teal": #009688,
	"mat-green": #4caf50,
	"mat-light-gren": #8bc34a,
	"mat-lime": #cddc39,
	"mat-yellow": #ffeb3b,
	"mat-amber": #ffc107,
	"mat-orange": #ff9800,
	"mat-orange-d4": #e65100,
	"mat-deep-orange-d4": #bf360c,
	"mat-deep-orange": #ff5722,
	"mat-brown": #795548,
	"mat-grey": #9e9e9e,
	"mat-blue-grey": #607d8b
);

body {
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Comfortaa", cursive;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

aside {
	color: white;
	opacity: 0.7;
	height: 100%;
	width: 5%;
	position: fixed;
	right: 0;
	top: 0;
	h2 {
		font-size: 30px;
		margin: 40px auto;
		cursor: pointer;
	}
}

.hide {
	display: none;
}

.show {
	display: initial;
}

.space-3 {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

.space-5 {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.space-10 {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.space-20 {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.gap-15 {
	display: block;
	height: 15px;
}

.gap-20 {
	display: block;
	height: 20px;
}

.gap-40 {
	display: block;
	height: 40px;
}

.gap-60 {
	display: block;
	height: 60px;
}

.gap-20 {
	display: block;
	height: 80px;
}

.alert.alert-banner {
	position: fixed !important;
	width: 80%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: "exo 2";
	font-weight: 600;
	font-size: 20px;
	z-index: 1;
}

#hero {
	background-color: white;
	h1,
	h2 {
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		text-align: center;
		color: #692525;
		font-family: "Condiment";
		font-size: 60px;
	}
}

#login-section {
	font-family: "Titillium Web";
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	h1,
	h3 {
		margin-bottom: 40px;
		font-weight: 500;
	}
	button {
		min-width: 160px;
		margin: 20px 0;
		font-size: 24px;
	}
	i {
		margin-left: 10px;
	}
	.row {
		margin-bottom: 60px;
	}
	.carousel-inner {
		border-radius: 10px;
	}
	#login-form {
		margin: 40px 0;
	}
}

#employee-section {
	margin-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	font-family: "Montserrat";
	h1 {
		font-weight: 500;
	}
	h3 {
		font-weight: 500;
	}
	button {
		min-width: 300px;
		margin-top: 10px;
		margin-bottom: 10px;
		color: white;
	}
	form {
		margin: 20px 0;
		width: 80%;
	}
	.btn.btn-form {
		float: right;
		min-width: 160px;
	}
	.profile-row.row {
		font-size: 20px;
		margin: 15px 0;
	}
	.profile-col {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn-logout {
		min-width: 160px;
		font-size: 24px;
		font-family: "Titillium Web";
	}
}

#employee-table {
	.btn.fire {
		min-width: 100px;
	}
}

#reimbursement-table {
	button.btn.view,
	button.btn.recall {
		min-width: 100px;
	}
}

#pending-table {
	button.btn.view,
	button.btn.resolve {
		min-width: 100px;
	}
}

#image-spot {
	display: block;
	margin: auto;
	max-width: 100%;
}

@import "../libraries/scss/bootstrap";
